@media (min-width: 768px) {
    /* #landing-bg {
        padding: 15px 15px 0 15px;
    } */
    #header {
        display: grid;
        grid-template-columns: 4fr 1fr 4fr;
        padding: 0;
    }
    #header-logo-container {
        display: flex;
        justify-content: center;
    }
    #sidebar-toggler {
        display: none;
    }
    .header-options {
        display: flex;
    }
    .header-options-left {
        justify-content: flex-end;
    }
    .header-option {
        display: block;
        color: rgb(255, 215, 0);
        text-transform: uppercase;
        font-size: 1.1rem;
        text-decoration: none;
    }
    .header-option-left {
        margin-right: 15%;
    }
    .header-option-right {
        margin-left: 15%;
    }
}