@media (min-width: 768px) {
    /************************************************** HEADER**************************************************/
    header {
        padding: 0;
        justify-content: space-evenly;
    }
    #sidebar-toggler {
        display: none;
    }
    .header-option {
        color: rgb(255, 215, 0);
        text-transform: uppercase;
        font-size: 1.1rem;
        text-decoration: none;
        display: inline-block;
        padding: 1px 0;
        background-image: linear-gradient(rgb(218, 165, 32), rgb(218, 165, 32));
        background-position: 50% 100%;
        background-size: 0% 1px;
        background-repeat: no-repeat;
        transition: background-size 250ms, background-position 0s 250ms;
    }
    .header-option:hover {
        background-position: 50% 100%;
        background-size: 100% 1px;
    }
    /************************************************** GALLERY **************************************************/
    #gallery-images {
        grid-template-columns: repeat(4, 1fr);
    }
    /************************************************** CONTACT **************************************************/
    #contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    #contact-details {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}