@media (min-width: 576px) {
    /************************************************** GENERAL **************************************************/
    .section-container {
        padding: 15px;
    }
    .section-title-container {
        margin-left: 0;
    }
    /************************************************** GALLERY **************************************************/
    #gallery-images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /************************************************** SLIDESHOW **************************************************/
    #close-slideshow {
        top: 20px;
        right: 20px;
    }
}