@media (min-width: 576px) {
    /************************************************** GENERAL **************************************************/
    .section-container {
        padding: 30px 15px;
    }
    .section-title-container {
        margin-left: 0;
    }
    /************************************************** LANDING PAGE **************************************************/
    #landing-button:hover {
        letter-spacing: 2px;
        color: rgb(123, 0, 44);
        background-color: rgb(255, 215, 0);
        ;
    }
    /************************************************** SIDEBAR **************************************************/
    .sidebar-option:hover {
        background-position: 50% 100%;
        background-size: 100% 1px;
    }
    .social-media:hover {
        font-size: 2rem;
    }
    /************************************************** GALLERY **************************************************/
    #gallery-images {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery-image img {
        transition: 250ms;
    }
    .gallery-image img:hover {
        transform: scale(1.04);
        box-shadow: 1px 1px 10px rgb(0, 0, 0);
        transition: 250ms;
    }
    .gallery-button:hover {
        background-color: rgb(255, 215, 0, 0.7);
        transition: 250ms;
    }
    /************************************************** SLIDESHOW **************************************************/
    #close-slideshow {
        top: 20px;
        right: 20px;
    }
    .slideshow-arrow-container:hover {
        background-color: rgb(0, 0, 0, 0.3);
    }
    /************************************************** RESERVE **************************************************/
    .reserve-info {
        margin: 0 0 15px 0;
    }
    .reserve-form-group {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    #reserve-form {
        margin: 0;
    }
    #reserve-button:hover {
        background-color: rgb(123, 0, 44, 0.6);
        transition: 250ms;
    }
    /************************************************** CONTACT **************************************************/
    #contact-title-container div {
        margin-left: 15px;
    }
}