/************************************************** GENERAL **************************************************/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    cursor: default;
    outline: none;
}

.hidden {
    display: none;
}

img {
    display: block;
}

.pointer {
    cursor: pointer;
}

.section-container {
    padding: 15px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 753px;
}

.section-title-container {
    margin: 0 0 15px 15px;
}

.section-title {
    font-size: 2.5rem;
    position: relative;
    top: 8px;
    left: 15px;
    line-height: 2rem;
    text-transform: uppercase;
}

/************************************************** LANDING PAGE **************************************************/

#landing {
    background-image: url("https://ik.imagekit.io/w1xennnidd/landing-image_o0ZkP73xMKyD.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#landing-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
}

#landing-title {
    text-align: center;
    color: rgb(255, 215, 0);
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
    margin-bottom: 15px;
}

#landing-button {
    color: rgb(255, 215, 0);
    font-size: 1.3rem;
    font-weight: 700;
    background-color: transparent;
    border: solid rgb(255, 215, 0) 3px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 200ms ease;
}

/************************************************** HEADER **************************************************/

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(123, 0, 44, 0.8);
    padding: 0 30px;
    height: 75px;
    display: flex;
    align-items: center;
}

#header-logo {
    height: 50px;
}

#sidebar-toggler {
    display: flex;
    justify-content: center;
    margin-left: auto;
    width: 28px;
    color: rgb(255, 215, 0);
    font-size: 30px;
}

.header-option {
    display: none;
}

/************************************************** SIDEBAR **************************************************/

#sidebar {
    z-index: 1000;
    height: calc(100vh - 75px);
    width: 100%;
    position: fixed;
    right: -100%;
    bottom: 0;
    background-color: rgb(123, 0, 44, 0.8);
    transition: 800ms ease;
}

#sidebar-options {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar-option {
    color: rgb(255, 215, 0);
    text-transform: uppercase;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    padding: 1px 0;
    background-image: linear-gradient(rgb(218, 165, 32), rgb(218, 165, 32));
    background-position: 50% 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: background-size 250ms ease, background-position 0s 250ms ease;
}

#sidebar-social-media {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.social-media.fab {
    display: flex;
}

.social-media {
    font-size: 1.5rem;
    color: rgb(255, 215, 0);
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 200ms ease;
    justify-content: center;
    align-items: center;
}

/************************************************** HISTORY **************************************************/

#history-title-container {
    background-color: rgb(123, 0, 44, 0.8);
    width: 170px;
}

#history-title {
    color: rgb(0, 0, 0);
}

#history-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

#history-img-1 {
    width: 100%;
    margin-bottom: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#history-text-container-1 {
    background-color: rgb(123, 0, 44, 0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#history-col-2 {
    display: flex;
    flex-direction: column;
}

#history-text-container-2 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: right;
    background-color: rgb(123, 0, 44, 0.5);
    margin-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#history-text-2 {
    padding: 0 5px 0 15px;
    margin-right: 7px;
    color: rgb(255, 255, 255);
    border-right: solid 3px rgb(123, 0, 44);
}

#history-img-2 {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/************************************************** GALLERY **************************************************/

#gallery {
    background-color: rgb(123, 0, 44, 0.8);
}

#gallery-title-container {
    background-color: rgb(255, 215, 0);
    width: 179px;
}

#gallery-title {
    color: rgb(255, 255, 255);
}

#gallery-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}

.gallery-image {
    position: relative;
    padding-top: 100%;
}

.gallery-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gallery-button-container {
    width: 100%;
}

.gallery-button {
    background-color: rgb(255, 215, 0);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms;
}

/************************************************** SLIDESHOW **************************************************/

.show-slideshow {
    z-index: 1010;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

#close-slideshow {
    position: absolute;
    top: 10px;
    right: 10px;
}

#close-slideshow .fa-times-circle {
    color: rgb(255, 255, 255);
    font-size: 35px;
}

#slideshow-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideshow-image img {
    max-height: 80vh;
    max-width: 90%;
}

.slideshow-arrow-container {
    z-index: 1020;
    position: absolute;
    width: 25%;
    height: 60%;
    top: 20%;
    display: flex;
    align-items: center;
}

.slideshow-arrow {
    z-index: 1020;
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: relative;
}

#previous-image .fa-angle-left {
    left: 5px;
}

#next-image .fa-angle-right {
    right: 5px;
}

#next-image {
    right: 0;
    justify-content: flex-end;
}

/************************************************** RESERVE **************************************************/

#reserve-title-container {
    background-color: rgb(123, 0, 44, 0.8);
    width: 180px;
}

#reserve-title {
    color: rgb(0, 0, 0);
}

.reserve-info {
    margin: 0 15px 15px 15px;
    padding: 5px;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    display: inline-block;
}

#contact-link {
    color: rgb(255, 215, 0);
    text-decoration: none;
}

#reserve-form {
    margin: 0 15px;
}

.reserve-form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.reserve-form-input {
    margin-bottom: 15px;
    border: none;
    border-bottom: solid 2px rgb(128, 128, 128);
    transition: 400ms ease;
    padding: 5px;
    font-size: 1em;
    cursor: auto;
}

.reserve-form-input:focus {
    border-bottom: solid 2px rgb(255, 215, 0);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#reserve-button {
    background-color: rgb(123, 0, 44, 0.8);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms;
}